<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>X-API-KEY</key>
	<string>3tX$?fd|^}=Bp|t*|f*UuQ!%I4~KY[Sz&lt;Rur-56UWB&amp;Ko?S+&lt;0:]Ily(9AeTd@w.s)zU]fvi$eMNa/-wLL:J,m_C&lt;Fx0]an]o0S?NjA/q&lt;s*rQ7PvsXhtalT?p0-L{&gt;)~1HJ:7xi]:&gt;a:Lu{(]zx@K,Peoch!:QWSY-W&amp;%{ni1xv)~K:^s/KtAN[V*^t2c|=*&gt;FvO^U?^|-]w$T8x8|tl5vvdVgECv.LO}pcWVwVM2]&lt;8+fMdHD5DM%P9x4o?rsG</string>
</dict>
</plist>
